<table class="table table-striped sortable1" >
  <thead>
    <tr>
      <th data-sort='Nome'>Nome</th>
      <th data-sort='Nº anuncios'>Nº Anuncios</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @categories.each do |category| %>
  <tr>
    <td><%=link_to category.nome, category %></td>
    <td><%= category.anuncios.count %></td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Apagar', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>
<br>


