<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @category.nome %>
</p><br>


 <%= image_tag @category.cassets.first.image(:small) %><br>


<%= link_to 'Edit', edit_category_path(@category),:class=> 'btn btn-primary' %> 
<%= link_to 'Back', categories_path ,:class=> 'btn' %>
