<% if @anuncios.count == 0 %>
 <div class="span9">
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Não foram encontrados anúncios que correspondam a esses critérios
  </div>
</div>
<% else %>

  

  <div class="sort">
    <ul class="nav nav-pills" id="sort11">
      <li ><%= sortable "nome", "Nome"%></li>
      <li ><%= sortable "preco" , "Preco"%></li>
      <li><%= sortable "created_at", "Released" %></li>
      <li><%= sortable "category_id" , "Categoria"%></li>
    </ul>
  </div>

  <% if flash[:notice] %>
          <div class="span9">
              <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
              </div>
          </div>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
  <% end %>


    <div class="span9">
        <ul class="thumbnails">
            <% @anuncios.each do |anuncio| %>
                 <li class="span3" >
                    <div class="thumbnail" >
                        <span><%= anuncio.preco %>€</span>
                         <%= link_to  image_tag( anuncio.assets.first.image(:small) ) , anuncio , :style => "width: 300px; height: 200px;", :alt => "300x200" %>
                          <div class="caption">
                            
                            <h3><%= anuncio.nome %></h3>
                           <p>

                           <strong> <%=  get_nome_categoria(anuncio.category_id) %></strong> 
                            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                              <% if current_page?(anuncios_path)  %>
                                <%= anuncio.tipo %>
                              <% end %>
                            <p>
                           <p><%= anuncio.descricao %></p>
                            
                           
                            <p><%= link_to 'Show ', anuncio %>&nbsp;&nbsp;&nbsp;&nbsp;
                               <% if isModerador? || belongs_toUser?(anuncio.user_id)%>
                                <%= link_to 'Edit', edit_anuncio_path(anuncio) %>
                            <% end %>
                            </p>
                          </div>  
                     </div>
                 </li>
            <% end %>
            
        </ul>
    </div>
<% end %>


